$primary: #00a19c;
$secondary: #00635b;
$dark: #333333;

$headings-color: $primary;
$headings-font-family: "Lato", sans-serif;
$headings-font-weight: 700 !default;
$font-family-base: "Lato", sans-serif;
/* $accordion-border-radius: 0;
$accordion-button-bg: $primary;
$accordion-button-active-bg: $secondary;
$accordion-color: white;
$accordion-padding-y: 0.75rem;
$accordion-button-active-color: white; */
$enable-responsive-font-sizes: true;

@import "./_default.scss";
