// bootstrap5.2

$primary: #00a19c;
$secondary: #00635b;
$dark: #333333;

$headings-color: $primary;
$headings-font-family: "Lato", sans-serif;
$headings-font-weight: 700 !default;
$font-family-base: "Lato", sans-serif;
/* $accordion-border-radius: 0;
$accordion-button-bg: $primary;
$accordion-button-active-bg: $secondary;
$accordion-color: white;
$accordion-padding-y: 0.75rem;
$accordion-button-active-color: white; */
$enable-responsive-font-sizes: true;

/* 
.accordion {
    .card-header {
        background-color: $primary;
        padding: 0.25rem 1.5rem;
        border-radius: 0;
        border-color: $white;
    }
    .card-header h2 .btn-link {
        color: $white;
        font-weight: bold;

        &:hover,
        &:active {
            text-decoration: none;
        }
    }
}
 */
