---
import LayoutDefault from "@layouts/LayoutDefault.astro";

import { Debug } from "astro/components";

// import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// import p5 from "p5";
// import "@p5/220416-cube-wave";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = await Astro.glob("../../p5/*.js");
console.log(posts);
---

<LayoutDefault>
  <div class="container py-5">
    <div class="row">
      <h1>p5js sketches</h1>

      <ul class="nav">
        <li class="nav-item">
          <!-- test -->
          <div id="canvas"></div>
        </li>
      </ul>

      <!-- <Debug answer={posts} /> -->
      <ul>
        {
          posts.map((post) => (
            <pre></pre>
            /*  <li>
              <time datetime={post.frontmatter.pubDate}>
                {new Date(post.frontmatter.pubDate).toLocaleDateString(
                  "en-us",
                  {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  }
                )}
              </time>
              <a href={post.url}>{post.frontmatter.title}</a>
            </li> */
          ))
        }
      </ul>
    </div>
  </div>
  <script>
    import p5 from "p5";
    const sketches = {
      "cube-wave": () => import("../../p5/220416-cube-wave"),
      "array-of-army": () => import("../../p5/220729-array-of-army"),
    };

    document.addEventListener("DOMContentLoaded", async () => {
      const res = await sketches["array-of-army"]();
      const myp5 = new p5(res.default, "canvas");
    });
  </script>
</LayoutDefault>
